
.homePage p{

    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-size: 40px;
    color: rgb(85,66,4);
    border-bottom: 1px solid rgb(85,66,4);
    padding-bottom: 20px;

}
.homePage .container{

display: flex;
  
}
.homePage  .container div {
    /* position: relative; */
    justify-content: space-between;

    text-align: center;
     margin: 10px;
    padding: 10px 5px 20px;
        
}
.homePage  .container img:hover {
/* opacity: 0.6; */
filter:brightness(60%);
transition: .4s;
}
.homePage .container a:hover{

color: rgb(85, 66, 4);

}


.homePage .container a{
position: relative;
text-decoration: none;
top: 10px;
font-size: 19px;
color: rgb(14, 13, 13);
font-family:serifs;
}

.homePage img,.homePage2 img {
width: 300px;
height: 300px;
/* box-shadow: 10px 10px 54px rgba(211, 201, 194, 0.1); */
box-shadow: 5px 5px 54px rgba(211, 201, 194,0.4);
}

