div.one{
	background-color:  #EFBBBB;
	height: justify;
    padding: 10px;
    text-align: justify;
    }
div {
	
}
body {
	background-color:  #FDEEEE
}
h1 {
	color: white;
}
h2 {
	color: #A16060;
}