@font-face {
    font-family: 'Classy Beautiful';
    src: url(Fonts/ClassyBeautiful.ttf);
    font-weight: 100;
    font-style: normal;
}
:root {
    --bgcolor: #ffffff;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }

html,
body {
    height: 100%;
}

.myheader {
    max-width: 100%;
    height: auto;
    padding: 1.3rem;
    display: flex;
}
#header .icon {
    display: none;
      
}
.logo,
img.cart,
img.searchpic,
img.profile,
.search {
    display: block;
    float: right;
    width: 3.4%;
    background: rgb(255, 255, 255);
    max-width: 100%;
    height: auto;
    margin: 0.5%;
}


input[type=search] {
    width: 10%;
    height: 1%;
    box-sizing: border-box;
    border: 1.34px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
    background-color: white;
    padding: 10px 10px ;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=search]:focus {
    width: 40%;
  }

.logo {
    align-self: center;
    width: 2.5%;
    float: left;
    font-size: larger;
    font-size: 35;
    font-family: 'Classy Beautiful';
    text-decoration: none;
    color: black;
    margin-left: 42%;
}

.logo:hover {
    text-shadow: 1px 1px 2px rgb(81, 81, 81);
    transition: 0.1s ease;
}

.navbar {
    margin: auto;

}

#tophead {
    overflow: hidden;
}

#tophead .search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.navbar ul li {
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-top: 70px;
    padding-bottom: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    top: -10;
    right: 250;
    transform: none;
}

.navbar ul li a:hover {
    color: rgb(150, 206, 216);
    transition: 0.3s ease;
}

#header ul {
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);

}


body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* font-family: "Times New Roman", Times, serif; */
    justify-content: center;
    align-items: center;
}


#slider {
    width: 500%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.slideshow {
    width: 100%;
    height: auto;
    display: flex;
    
}

.slideshow input {
    display: none
}

.slide {
    width: 20%;
    transition: 1s;
    
}

.slide img {
    display: block;
    float: left;
    width: 100%;
    height: auto;

}


/* manual nav start */
.navmanual {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 455px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid rgb(81, 81, 81);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: rgb(50, 49, 49);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

/* manual nav end */

/* automatic nav start */
.navauto {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 455px;
}

.navauto div {
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navauto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navauto .auto-btn1 {
    background: rgb(50, 49, 49);
}

#radio2:checked~.navauto .auto-btn2 {
    background: rgb(50, 49, 49);
}

#radio3:checked~.navauto .auto-btn3 {
    background: rgb(50, 49, 49);
}



/* ---------------- responsive nav ------------- */
@media screen and (max-width: 700px) {
    .navbar {
      display: none;
      position: absolute;
      top: 3.9rem;
      left: 0;
      width: 100%;
      background-color: var(--bgcolor);
      text-align: center;
    }

    .navbar.responsive {
        display: block;
      }
      .navbar a {
        display: block;
      }

      .logo {
        font-size: 1.4rem;
      }
      .search {
        width: auto;
        height: auto;
      }

    }

/* Footer Design */

.container{
    background-color: #24262b;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.f-col ul{
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.f-col{
    color: white;
    width: 25%;
    padding: 0 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.f-col h3{
    font-size: 18px;
    font-family: 'Classy Beautiful';
    color: white;
    text-transform: capitalize;
    margin-bottom: 32px;
    position: relative;
}

/* 3lshan a3ml Line taht el h3 */
.f-col h3::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #d79e2e;
	height: 2px;
	width: 50px;
}
.f-col ul li{
    margin-bottom: 10px;
}

.f-col ul li a {
	text-decoration: none;
	color: #bbbbbb;
    /* transition 3lshan el hover */
	transition: all 0.3s ease;

    
}
.f-col ul li a:hover{
    color: white;
    padding-left: 8px;
}
.f-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.f-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 1080){
    .f-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .f-col{
      width: 100%;
  }
  

  }
