

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-top: 0; */
    /* overflow: hidden; */
}


body {
    width: 100%;
    height: 100vh;
    font-family: 'Zapf';
}
.left {
    width: 50%;
}

.signIn {
    margin: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signIn h2 {
    margin: 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid #adadad;
}

.lgbutton {
    margin: 5%;
    margin-top: 10%;
    background-color: #b58422;
    text-align: center;
    border: none;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    width: 55%;
}

.lgbutton:hover {
    letter-spacing: 5px;
    background: #e4c688;
    transition: 0.5s ease;
    cursor: pointer;
}


.signInform {

    padding: 0 50px;
    border-right: 1px solid #adadad;
    width: 100%;
}

.textfield {
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 5%;

}

.textfield input {
    width: 20%;
 
    /* padding: 0 5px; */
    height: 40px;
    font: 16px;
    font-size: 16.5px;
    border: none;
    outline: none;
}

.textfield label {

    position: absolute;
    top: 50%;
    left: 5px;
    pointer-events: none;
    transform: translateY(-125%);
    font-size: 19px;
    font-weight: 530;
    transition: .4s;
}

.textfield input:focus~label {
    /* top: -5px; */
    color: rgb(128, 99, 7);

}

.textfield span::before {

    content: '';
    position: absolute;
    background-color: rgb(128, 99, 7);
    width: 0%;
    height: 2px;
    top: 40px;
    left: -1px ;
}

.textfield input:focus~span::before {
    width: 100%;
}

.right {
    padding-left: 50px;
    display: block;
    width: 50%;
}

.header1 {
    font-weight: bold;
    font-size: 20px;
    margin: 5%;
}

.header2 {
    margin: 5%;
}

.ulist{
    font-style: italic;
    color: #686868;
    margin: 5%;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
}

.subutton {
    margin: 5%;
    margin-top: 8%;
    background-color: #b58422;
    text-align: center;
    border: none;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    width: 55%;
}

.subutton:hover {
    letter-spacing: 5px;
    background: #e4c688;
    transition: 0.5s ease;
    cursor: pointer;
}

#passlabel{
font-size: 15px;
    position: absolute;
    top: 68px;
    color: rgb(131, 6, 6);
}


@media screen and (max-width: 700px) {
    .signIn {
        width: 100%;
        display: block;
    }

    .signInform {
        border-right: none;
    }

    .left {
        margin-top: 5%;
        border-bottom: 1px solid #adadad;
        width: 100%;
    }

    .right {
        margin-top: 5%;
        width: 100%;
    }
}
