div.one{
	background-color:  #EFBBBB;
	height: justify;
    padding: 10px;
    text-align: justify;
    }
div {
	
}
body {
	background-color:  #FDEEEE
}
h1 {
	color: white;
	font-size: 3rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
	text-align: center;

}
h2 {
	color: #A16060;
}
.team-content img{
	
	
	border-radius: 15px;
	margin-bottom: 15px;
}
